.StyleGreen {
    color: #c0ff72;
}
.description{
    color: white;
}
.QuemSomos{
    padding-top: 20%;
    
    color: black;
    margin-left: 50%;
    margin-right: 20%;

    text-decoration: none;
    align-items: center;
    font-family: 'Quicksand', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    text-align: justify;
    line-height: 1.8em;
    box-sizing: border-box;
}
.QuemSomos-title {
    font-size: 8rem;
    color: #c0ff72;
}
.Cards{
    color: white;
    text-decoration: none;
    align-items: center;
    font-family: 'Quicksand', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    text-align: justify;
    line-height: 1.8em;
    box-sizing: border-box;
    display: flex;
    margin-top: 50px;
}
.Name{
    margin-left: 20%;
    width: 400px;
    height: 300px;
    background-color: transparent;
}
.title-name{
    font-size: 2rem;
    color: #c0ff72;
}
.title-logo{
    font-size: 2rem;
    color: #c0ff72;
}
.Logo {
    width: 400px;
    height: 300px;
}
.Quem img {
    margin-bottom: 100px;
    position: absolute;
    height: auto;
    width: 650px;
}
.imglogo{
    margin-left: 15%;
    margin-top: 10%;
}

